/* You can add global styles to this file, and also import other style files */
$secondary:     #c3dbf0;

@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-image: url("../src/assets/images/bg-pattern.png");
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
    
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  .sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }